.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: white;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 5% 5% 0 5%;
}

.App-title {
  padding: 5% 0 5% 0;
  font-size: 4vh;
  color: #2196f3;
  margin: 0;
}

.App-p {
  font-size: large;
  margin: 0;
  color: black;
}

.Map-section-container {
  padding: 0 3% 3% 3%;
}

.Single-map {
  height: 60vh;
}
