.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-container{
  width: 100%;
  height: 100vh;
  background-color: red;
}



.App-title { 

  padding: 5%;
  font-size: 4vh;

}

.App-p { 
  font-size: large;
}

.App-container-inputs{
  display: flex;
}

.App-inputs{
  margin: 5%;
}
